body {
    padding: 0;
    margin: 0;
    background: #fcdcc7;
}

.navbar {
    background: transparent;
    background-color: transparent;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #F2B6B6;
}

.navbar-collapse  {
    justify-content: flex-end;
}

.header {
    background-image: url('/images/w-349443-unsplash.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
    left: 50%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #F2B6B6;
}

.description p {
    color: #f2f6e9;
    font-size: 1.3rem;
    line-height: 1.5;
}


/* Color Theme Swatches in Hex */
.Coconut-Ice-Sweets-1-hex { color: #D93250; }
.Coconut-Ice-Sweets-2-hex { color: #F2B3BF; }
.Coconut-Ice-Sweets-3-hex { color: #F26B8F; }
.Coconut-Ice-Sweets-4-hex { color: #F299B1; }
.Coconut-Ice-Sweets-5-hex { color: #F2E0C9; }

/* Color Theme Swatches in RGBA */
.Coconut-Ice-Sweets-1-rgba { color: rgba(217, 50, 80, 1); }
.Coconut-Ice-Sweets-2-rgba { color: rgba(242, 179, 191, 1); }
.Coconut-Ice-Sweets-3-rgba { color: rgba(242, 107, 143, 1); }
.Coconut-Ice-Sweets-4-rgba { color: rgba(242, 153, 177, 1); }
.Coconut-Ice-Sweets-5-rgba { color: rgba(242, 224, 201, 1); }

/* Color Theme Swatches in HSLA */
.Coconut-Ice-Sweets-1-hsla { color: hsla(349, 68, 52, 1); }
.Coconut-Ice-Sweets-2-hsla { color: hsla(348, 70, 82, 1); }
.Coconut-Ice-Sweets-3-hsla { color: hsla(344, 83, 68, 1); }
.Coconut-Ice-Sweets-4-hsla { color: hsla(343, 77, 77, 1); }
.Coconut-Ice-Sweets-5-hsla { color: hsla(33, 61, 86, 1); }
